body{
    background-color: #212632;
    font-family: 'Manrope';
}

.main{ 
    width: 550px;
    height: 320px;
    background-color: #313a49;
    border-radius: 10px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -275px;
}

#header{
    padding-top: 45px;
    color: hsl(150, 100%, 66%);
    letter-spacing: 4px;
    font-size: 14px;
}

#advice {
    height: 70px;
    font-size: 25px;
    color: hsl(193, 38%, 86%);
    margin-bottom: 50px;
    padding: 20px;
    margin-top: 10px;;
}

#button{
    width: 50px;
    height: 50px;
    margin-top: 40px;
    background-color: hsl(150, 100%, 66%);
    margin-left: 250px;
    border-radius: 100%;
}

#dice{
    margin-top: 13px;
}

#button:hover {
    background-color: red;
    cursor: pointer;
}

@media (max-width: 768px) {

    .main{
        width: 300px;
        height: 380px;
        margin-top: -205px;
        margin-left: -150px;
    }

    #advice{
        height: 130px;
    }

    #divider {
        width: 250px;
    }

    #button {
        margin-left: 125px;
    }

}